<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">
<style>
	.header-icons {
  display: flex;
  align-items: center;
  gap: 15px; /* space between icons */
}

.header-icons a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.header-icons a h5 {
  margin: 0 0 0 6px; /* small space after icon */
  font-size: 16px;
}

</style>
</head>
<body>
    	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="/user/assets/img/logo.png" alt="an header image">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a>
								</li>
								<li><a href="/about">About</a></li>
					
								<li><a href="contact.ejs">Contact</a></li>
								<li><a href="shop.ejs">Shop</a>
								</li>
								<li>
									<div class="header-icons">
										
										<a class="wishlist" href="wishlist.ejs"><i class="bi bi-heart-fill"></i></a>
										<a class="shopping-cart" href="cart.ejs"><i class="fas fa-shopping-cart"></i></a>
										
										<a class="wishlist fs-5 d-flex align-items-center" 
										<%if(user) {%>
											href="/profile"
										<%} else {%>
											href="/login"
											<%}%>
										>
											<i class="bi bi-person-circle"></i>
											<% if (user) {
												let namePart = user.name.split(' ');
												let firstName = namePart[0]
												%>
												<h5 class="ms-2 mb-0 text-light"><%=firstName%></h5>

											<%} %>
										</a>

										
									</div>
								</li>
							</ul>
						</nav>
						
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
</body>
</html>